<link rel="stylesheet" href="/stylesheets/profile.css">
<%- include('../partials/_navbar.ejs') %>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cardo:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400..900&display=swap" rel="stylesheet">

<div class="profile-container">
  <h2>Profile</h2>

<div class="upload-section">
  <form action="/auth/<%= user._id %>/profile" method="post" enctype="multipart/form-data">
    <img src="<%= user.profileImg %>" alt="Profile Picture" />

    <label for="profileImg" class="custom-upload">Choose Image</label>
    <input type="file" id="profileImg" name="profileImg" />

    <button type="submit">Upload</button>
  </form>
</div>

  <form action="/auth/<%= user._id %>/profile?_method=PUT" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" value="<%= user.username %>" />

    <label for="email">Email</label>
    <input type="email" name="email" value="<%= user.email %>" />

    <label for="phone">Phone Number</label>
    <input type="number" name="phone" value="<%= user.phone %>" />

    <button type="submit">Update Profile</button>
  </form>

  <h3>Change Password</h3>
  <form action="/auth/<%= user._id %>?_method=PUT" method="post">
    <label for="oldPassword">Old Password</label>
    <input type="password" name="oldPassword" />

    <label for="newPassword">New Password</label>
    <input type="password" name="newPassword" />

    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" />

    <button type="submit">Change Password</button>
  </form>
</div>
