<<<<<<< HEAD
=======
<%- include('../partials/_navbar.ejs') %>
<h1>Edit Your Salon</h1>

<form action="/salon/<%= salon._id%>?_method=PUT" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" value="<%= salon.name %>"/>

  <br />

  <label for="location">Location</label>
  <input type="text" name="location" value="<%= salon.location %>"/>

  <br>

  <label for="phone">Phone Number</label>
  <input type="number" name="phone"  value="<%= salon.phone %>"/>

  <br>

  <button type="submit">Edit Your Salon</button>
</form>
>>>>>>> 826b9fbfa5cd704c40b8ae874f7c541623c60ba5
