<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../stylesheets/salonPage.css" />
  </head>
  <body>
    <%- include("../partials/_navbar.ejs") %>

    <div>
      <form action="/salon/search" method="post">
        <input type="search" name="search" />
        <button type="submit">🔍</button>
      </form>
    </div>
  
    <header>
      <h4>
        Hello <%= user.username %>! Start exploring! Find your perfect salon and
        book your appointment today.
      </h4>
    </header>
    <main>
      <% if(user.role === 'owner'){ %>
      <h2>My Salons:</h2>
      <% salons.forEach(salon=>{%>
      <div class="salon">
        <img src="<%= salon.salonImg %>" alt="salonImg" />
        <a href="/salon/<%= salon._id %>"> <%= salon.name %> </a>
      </div>
      <br />
      <%}) %>
      <br />
      <a href="/salon/create"><button>Add Salon</button></a>

      <% } %> 
      <% if(user.role == 'user'){ %> 
      <% salons.forEach(salon=>{%>
      <div class="salon">
        <img src="<%= salon.salonImg %>" alt="salonImg" />
        <a href="/salon/<%= salon._id %>"> <%= salon.name %> </a>
      </div>
      <br />
      <%}) %> 
      <% } %>
    </main>

  </body>
</html>
