<%- include('../partials/_navbar.ejs') %>

<% if(user.role === 'user'){%>
<p>Salon Name: <%=salon.name%></p>
<button>Book Appointment</button>
<% } %>

<% if(user.role === 'owner'){%>
  <p>Name: <%= salon.name %></p>
  <p>Phone: <%= salon.phone %></p>
  <p>Location: <%= salon.location %></p>

  <form action="/appointment/<%= salon._id %>?_method=DELETE" method="POST">
  <select name="appointment">
    <% appointments.forEach(appointment=> {%>
      <option value="<%= appointment._id %>"><%= appointment.dateTime %>
      </option>
  <% }) %>
  </select>
  <button type="submit">Delete</button>
  </form>

  <a href="/appointment/<%= salon._id%>/appointments/new"><button>Add Appointments</button></a>

  <br>

  <a href="/salon/<%= salon._id %>/edit"><button>Edit</button></a>
  <br><br>

  <form action="/salon/<%= salon._id %>?_method=DELETE" method="post">
    <button type="submit">Delete</button>
  </form>
  <br>

<% } %>
