<head>
  <link rel="stylesheet" href="/stylesheets/nav.css" />
  <link rel="stylesheet" href="/stylesheets/showSalon.css" />
  <link rel="stylesheet" href="/stylesheets/serviceStyle.css" />
  <script src="/scripting/script.js" defer></script>
</head>

<%- include('../partials/_navbar.ejs') %>

<!-- start of user -->
<% if(user.role === 'user'){%>

<h2><%=salon.name%></h2>
<p>Location: <%= salon.location %></p>
<p>
  Contact Us: <br />
  Phone Number:<%= salon.phone %>
</p>

<a href="/appointment/<%= salon._id %>/show/book"
  ><button>Book Appointment</button></a
>

<% services.forEach(service=>{ %>
<div>
  <p>Service: <%= service.name %></p>
  <p>Starting Price: <%= service.price %></p>
</div>
<% }) %>

<div>
  <h3>Rate Our Salon</h3>
  <% if(userRating) {%>
  <form
    action="/rating/<%= salon._id %>/<%= user._id %>/<%= userRating._id %>?_method=PUT"
    method="post"
  >
    <div class="rate">
    <input type="radio" id="star5" name="rating" value="5" required
    <% if(userRating.rating === 5) {%>
      checked
      <% } %>
      />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rating" value="4" required
    <% if(userRating.rating === 4) {%>
      checked
      <% } %>
      />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rating" value="3" required
    <% if(userRating.rating === 3) {%>
      checked
      <% } %>
    />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rating" value="2" required
     <% if(userRating.rating === 2) {%>
      checked
      <% } %>
    />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rating" value="1" required
     <% if(userRating.rating === 1) {%>
      checked
      <% } %>
    />
    <label for="star1" title="text">1 star</label>
  </div>
    <br />

    <label for="comment">Comment</label>
    <textarea name="comment" id=""><%= userRating.comment %></textarea>
    <br />
    <button type="submit">Edit Rating</button>
  </form>
  <form
    action="/rating/<%= salon._id %>/<%= userRating._id %>?_method=DELETE"
    method="post"
  >
    <button type="submit">Delete Rating</button>
  </form>
  <% }else{ %>
  <form action="/rating/<%= salon._id %>/<%= user._id %>" method="post">
    <div class="rate">
      <input type="radio" id="star5" name="rating" value="5" required />
      <label for="star5" title="text">5 stars</label>
      <input type="radio" id="star4" name="rating" value="4" required />
      <label for="star4" title="text">4 stars</label>
      <input type="radio" id="star3" name="rating" value="3" required />
      <label for="star3" title="text">3 stars</label>
      <input type="radio" id="star2" name="rating" value="2" required />
      <label for="star2" title="text">2 stars</label>
      <input type="radio" id="star1" name="rating" value="1" required />
      <label for="star1" title="text">1 star</label>
    </div>
    <br />

    <label for="comment">Comment</label>
    <textarea name="comment" id=""></textarea>
    <br />
    <button type="submit">Create Rating</button>
  </form>
</div>
<% } %>
<!-- end of rating -->
<% } %>
<!-- end of user -->

<div class="ownerSalon">
  <% if(user.role === 'owner'){%>

  <img src="<%= salon.salonImg %>" alt="salonImg" />

  <p>Name: <%= salon.name %></p>

  <p>Phone: <%= salon.phone %></p>
  <p>Location: <%= salon.location %></p>

  <div class="buttons">
    <a href="/salon/<%= salon._id %>/edit"><button>Edit Salon</button></a>
    <form action="/salon/<%= salon._id %>?_method=DELETE" method="post">
      <button type="submit">Delete Salon</button>
    </form>
  </div>
</div>

<!-- services -->
<% services.forEach(service=>{ %>
<div>
  <p>Service: <%= service.name %></p>
  <p>Starting Price: <%= service.price %></p>
</div>
<form
  action="/service/<%= salon._id %>/<%= service._id %>?_method=DELETE"
  method="post"
>
  <button type="submit">Delete</button>
</form>

<button id="editService">Edit</button>

<form
  class="editService editFormService"
  action="/service/<%= salon._id %>/<%= service._id %>?_method=PUT"
  method="post"
>
  <h3>Edit Service</h3>
  <label for="name">Service Title</label>
  <input type="text" name="name" value="<%= service.name %>" required />
  <br />

  <label for="price">Starting Price</label>
  <input
    type="number"
    name="price"
    min="0"
    value="<%= service.price %>"
    required
  />
  <br />

  <button type="submit">Edit Service</button>
  <button class="cancelEdit">Cancel</button>
</form>

<% }) %>
<!-- end of service forEach -->
<br />

<button id="addService">Add Service</button>

<div class="serviceForm">
<form
  class="addService addFormService"
  action="/service/<%= salon._id %>"
  method="post"
>
  <h3 class="title">Add Service</h3>
  <label for="name">Service Title</label>
  <input type="text" name="name" required />
  <br />

  <label for="price">Starting Price</label>
  <input type="number" name="price" min="0" required />
  <br />
  <div class="buttons">
  <button type="submit">Add Service</button>
  <button id="cancelAdd">Cancel</button></div>
</form>

<% if(appointments.length>0) { %>
  <form action="/appointment/<%= salon._id %>/owner?_method=DELETE" method="POST">
    <select name="appointment">
      <% appointments.forEach(appointment=> {%>
      <option value="<%= appointment._id %>">
        <%= appointment.dateTime %>
      </option>
      <% }) %>
    </select>
    <button type="submit">Delete</button>
  </form>
  <% } %>
<br>
  <a href="/appointment/<%= salon._id%>/appointments/new"
    ><button>Add Appointments</button></a
  >
  <a href="/appointment/<%= salon._id %>/owner/appointments">
    <button>View Booked Appointment</button>
  </a>

  <% } %>

<!-- end of owner -->

<aside>
  <h3>Comments Section</h3>

  <% ratings.forEach(rating => {%>
  <div>
    <div class="rate readonly">
      <input type="radio" id="<%= rating._id %>-5" name="<%= rating._id %>"
      value="5" disabled <%= rating.rating === 5 ? 'checked' : '' %> />
      <label for="<%=  rating._id  %>-5" title="5 stars">5 stars</label>

      <input type="radio" id="<%= rating._id %>-4" name="<%= rating._id %>"
      value="4" disabled <%= rating.rating === 4 ? 'checked' : '' %> />
      <label for="<%=  rating._id  %>-4" title="4 stars">4 stars</label>

      <input type="radio" id="<%= rating._id %>-3" name="<%= rating._id %>"
      value="3" disabled <%= rating.rating === 3 ? 'checked' : '' %> />
      <label for="<%=  rating._id  %>-3" title="3 stars">3 stars</label>

      <input type="radio" id="<%= rating._id %>-2" name="<%= rating._id %>"
      value="2" disabled <%= rating.rating === 2 ? 'checked' : '' %> />
      <label for="<%=  rating._id  %>-2" title="2 stars">2 stars</label>

      <input type="radio" id="<%= rating._id %>-1" name="<%= rating._id %>"
      value="1" disabled <%= rating.rating === 1 ? 'checked' : '' %> />
      <label for="<%=  rating._id  %>-1" title="1 star">1 star</label>
    </div>
    <br />
    <br />
    <% if(rating.comment) {%>
    <p><%= rating.userId.username %>: <%= rating.comment %></p>
    <% } else{ %>
    <br />
    <%= rating.userId.username %>
    <br />
    <% } %>
    <hr />
  </div>
  <% }) %>
</aside>
