<head>
  <link rel="stylesheet" href="/stylesheets/serviceStyle.css" />
  <script src="/scripting/script.js" defer></script>
</head>

<%- include('../partials/_navbar.ejs') %> 

<% if(user.role === 'user'){%>

<p>Salon Name: <%=salon.name%></p>
<button>Book Appointment</button>
<% } %> 

<% if(user.role === 'owner'){%>
<p>Name: <%= salon.name %></p>
<p>Phone: <%= salon.phone %></p>
<p>Location: <%= salon.location %></p>

<a href="/salon/<%= salon._id %>/edit"><button>Edit</button></a>
<br /><br />
<form action="/salon/<%= salon._id %>?_method=DELETE" method="post">
  <button type="submit">Delete</button>
</form>
<br />

<!-- services -->
<% services.forEach(service=>{ %>
<div>
  <p>Service: <%= service.name %></p>
  <p>Starting Price: <%= service.price %></p>
</div>
<form
  action="/service/<%= salon._id %>/<%= service._id %>?_method=DELETE"
  method="post"
>
  <button type="submit">Delete</button>
</form>

<button id="editService">Edit</button>

<form
  class="editService editFormService"
  action="/service/<%= salon._id %>/<%= service._id %>?_method=PUT"
  method="post"
>
  <label for="name">Service Title</label>
  <input type="text" name="name" value="<%= service.name %>" required />
  <br />

  <label for="price">Starting Price</label>
  <input
    type="number"
    name="price"
    min="0"
    value="<%= service.price %>"
    required
  />
  <br />

  <button type="submit">Edit Service</button>
</form>

<% }) %>
<!-- end of service forEach -->

<button id="addService">Add Service</button>

<form
  class="addService addFormService"
  action="/service/<%= salon._id %>"
  method="post"
>
  <label for="name">Service Title</label>
  <input type="text" name="name" required />
  <br />

  <label for="price">Starting Price</label>
  <input type="number" name="price" min="0" required />
  <br />

  <button type="submit">Add Service</button>
  <button id="cancelAdd">Cancel</button>
</form>


  <form action="/appointment/<%= salon._id %>?_method=DELETE" method="POST">
  <select name="appointment">
    <% appointments.forEach(appointment=> {%>
      <option value="<%= appointment._id %>"><%= appointment.dateTime %>
      </option>
  <% }) %>
  </select>
  <button type="submit">Delete</button>
  </form>

  <a href="/appointment/<%= salon._id%>/appointments/new"><button>Add Appointments</button></a>


<select name="appointment" id="">
  <% appointments.forEach(appointment=> {%>
  <option value="<%= appointment.dateTime %>">
    <%= appointment.dateTime %>
  </option>
  <% }) %>
</select>
<a href="/appointment/<%= salon._id%>/appointments/new"
  ><button>Add Appointments</button></a
>

<br />

<% } %>
<!-- end of owner -->
