<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Appointment </title>
</head>
<body>
<%- include('../partials/_navbar.ejs') %>
<h1> Edit Appointment</h1>
<h3>Salon: <%= appointment.salonId.name %></h3>
<p>Date & Time: <%= appointment.dateTime %></p>
<form action="/appointment/<%=appointment._id%>?_method=PUT" method="post">

  <select name="services" multiple>
    <% services.forEach(service=>{ %>
<option value="<%= service._id %>"
  <% if(appointment.services.includes(service.id)){ %>
  selected
<% } %>><%= service.name %> - $<%= service.price %></option>
  <% }) %>
  </select>
<br>

<button type="submit">Edit Appointment</button>
</form>
</body>
</html>
