<head>
  <link rel="stylesheet" href="/stylesheets/appointments.css" />
  <link rel="stylesheet" href="/stylesheets/button.css" />
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cardo:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
</head>

<%- include("../partials/_navbar") %>

<div class="container section">
  <header class="pageHeader">
    <h1>All Appointments</h1>
  </header>

  <ul class="appointmentsGrid">
    <% appointments.forEach(appointment => { %>
      <li class="apptCard">
        <p class="datetime"><%= appointment.dateTime.toLocaleString() %></p>

        <div class="actions">
          <a class="btnPrimary" href="/appointment/<%= appointment._id %>/showAppointment">View</a>
          <a class="btnGhost"   href="/appointment/<%= appointment._id %>/edit">Edit</a>
          <form class="inlineForm" action="/appointment/<%= appointment._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btnDanger">Cancel</button>
          </form>
        </div>
      </li>
    <% }) %>
  </ul>
</div>
