<link rel="stylesheet" href="/stylesheets/appointmentsOwner.css"/>
<%- include('../partials/_navbar') %>

<h1>Booked Appointments</h1>

<ul>
  <% appointments.forEach(appointment => { %>
  <% if (appointment.userId) { %>
  <li>
      <strong>Date:</strong> <%= appointment.dateTime.toLocaleString() %><br>
      <strong>Booked by:</strong> <%= appointment.userId.username %><br>
      <strong>Services:</strong>
      <ul>
        <% appointment.services.forEach(service => { %>
        <li><%= service.name %> - $<%= service.price %></li>
        <% }) %>
      </ul>
    </li>
    <% } %>
  <% }) %>
  </ul>
