<head>
  <link rel="stylesheet" href="/stylesheets/appointmentsShow.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cardo:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
</head>

<%- include('../partials/_navbar') %>

<h1>Appointment Details</h1>

<div class="appointment-container">
  <p><strong>Date & Time:</strong> <%= userAppointment.dateTime %></p>
  <p><strong>Salon:</strong> <%= userAppointment.salonId.name %></p>
  <p><strong>Services:</strong></p>
  <ul>
    <% userAppointment.services.forEach(service => { %>
      <li><%= service.name %></li>
    <% }) %>
  </ul>

  <div class="actions">
    <a href="/appointment/<%= userAppointment._id %>/edit">Edit this appointment</a>
    <form action="/appointment/<%= userAppointment._id %>?_method=DELETE" method="POST">
      <button type="submit">Cancel this appointment!</button>
    </form>
  </div>
</div>
