<head>
  <link rel="stylesheet" href="/stylesheets/serviceEdit.css" />
  <link rel="stylesheet" href="/stylesheets/button.css" />
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cardo:ital,wght@0,400;0,700;1,400&family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
</head>

<%- include("../partials/_navbar.ejs") %>

<div class="editPage">
  <header class="pageHeader">
    <h1>Edit Service</h1>
  </header>

  <section class="editCard">
    <form
      class="editFormService"
      action="/service/<%= salonId %>/<%= service._id %>?_method=PUT"
      method="post"
    >
      <div class="field">
        <label for="name">Service Title</label>
        <input id="name" type="text" name="name" value="<%= service.name %>" required />
      </div>

      <div class="field">
        <label for="price">Starting Price</label>
        <input id="price" type="number" name="price" min="0" value="<%= service.price %>" required />
      </div>

      <div class="actions">
        <button type="submit" class="btnPrimary">Save Changes</button>
        <a href="/salon/<%= salonId %>" class="btnGhost">Cancel</a>
      </div>
    </form>
  </section>
</div>
